{% extends "base/base.html" %}

{% block css %} 
	{{ block.super }}
	<style type="text/css">
      .btn-info {
        width: 300px;
      }
      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

    </style>
{% endblock css %}

{% block sidebar %}{% endblock %}

{% block content %}

<div class="container">
      <form method="post" class="form-signin" action="{% url 'django.contrib.auth.views.login' %}">
      	{% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <input id="id_username" name="username" type="text" class="input-block-level" placeholder="Username" />
        <input id="id_password" name="password" type="password" class="input-block-level" placeholder="Password" />
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
        <input type="hidden" name="next" value="{{ next }}" />
        {% if form.errors %}
    		<p style="color:red;">Your username and password didn't match. Please try again.</p>
    		{% endif %}
      </form>
      <form class="form-signin"> <!-- Form css cheats to get alignment right :) -->
        <button class="btn btn-info">First time here?</button>
      </form>
    </div>

{% endblock %}